
{%  extends 'users/base.html' %}

{%  block body %}
<h2 class="text-2xl font-bold text-indigo-600 m-10">🔑Change Password </h2>
<div class="container p-5 m-5">
    <div class="error-container text-red-500 px-5">
        {%  if form.errors %}
        {%  for field in form  %}
        {{field.errors}}
        {%  endfor %}
        {% endif %}

    </div>
    <form method="POST" class="bg-white shadow border-red-600 m-5 p-5 rounded w-4/5" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-2">
          <label for="" class="block text-sm text-gray-400">Old Password</label>
          <div class="shadow appearance-none border rounded px-2 py-3  mr-10 text-gray-400">
            {{form.old_password}}
           </div>
        </div>
    
    
        <div class="mb-2">
            <label for="" class="block text-sm text-gray-400">New Passowrd</label>
            <div class="shadow appearance-none border rounded px-2 py-3  mr-10 text-gray-400">
                {{form.new_password1}}
            </div>
        </div>
    
    
        <div class="mb-2">
            <label for="" class="block text-sm text-gray-400">Confirm Password</label>
            <div class="shadow appearance-none border rounded px-2 py-3  mr-10 text-gray-400">{{form.new_password2}}</div>
        </div>

        <button type="submit" class="rounded bg-green-500 text-white-500 my-5 px-3  py-2">Submit</button>
    
    
    </form>

</div>




{%  endblock %}



    














    