{% extends 'users/base.html'  %}


{% block body %}

<h1 class="text-2xl m-10"> Register User</h1>


<div class="container py-5">
    <form action="" method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mt-5">
       <div class="mb-2">
           <label class="block text-gray-700 font-semibold mb-2" for="">Email</label>
           <div class="shadow appearance-none border rounded py-2 px-3 mr-10">{{user_form.email}}</div>
        </div>


        <div class="mb-2">
            <label class="block text-gray-700 font-semibold mb-2" for="">Username</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10">{{user_form.username}}</div>
         </div>


         <div class="mb-2">
            <label class="block text-gray-700 font-semibold mb-2" for="">Firstname</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10">{{user_form.first_name}}</div>
         </div>


        <div class="mb-2">
            <label class="block text-gray-700 font-semibold mb-2" for="">Password</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10">{{user_form.password}}</div>
         </div>


         <div class="mb-2">
            <label class="block text-gray-700 font-semibold mb-2" for="">Confirm Password</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10">{{user_form.password2}}</div>
         </div>


        {% csrf_token %}
     
    
        <button type="submit" class="text-white bg-green-400 px-3 py-2 mt-4">Refister</button>
    
    </form>
</div>


<p class="px-7 py-7"><a  class="text-indigo-400" href="{%  url "password_reset"   %}">Forgot Password? Click here to reset..</a>


{% endblock %}






